#view-record{
    width: 100%;
    .text-intro{
        display: flex;
        h1{
            font-size: 24px;
        }
        span{
            font-size: 14px;
            font-style: italic;
            margin: auto auto auto 5px;
        }
    }
    #actions-bar{
        display: flex;
        #search{
            display: flex;
            margin: auto auto auto 0;
            input{
                border: 1px solid gray;
            }
            .btn-search{
                border: 1px solid gray;
            }
        }

        #actions-buttons{
            margin: auto 0 auto auto;
            button{
                margin: 0 5px;
                padding: 0;
                border: 0;
                .fa-edit{
                    background: #DED100;
                    color: white;
                    padding: 7px;
                }
                .fa-trash-alt{
                    background: #CD3030;
                    color: white;
                    padding: 7px;
                }
                .fa-plus{
                    background: #4CBC5B;
                    color: white;
                    padding: 7px;
                }
            }

        }
    }

    #section-table{
        margin-top: 40px;
        table{
            .col-check{
                text-align: center;
            }
        }
    }

    #modal-add-record,
    #modal-edit-record{
        .modal-dialog{

            .modal-content{
                .modal-header{
                    h2{
                        font-size: 20px;
                    }
                }
                .modal-body{
                    .col-customer,
                    .col-vehicle,
                    .col-employee,
                    .col-date,
                    .col-products,
                    .col-services{
                        display: flex;
                        flex-wrap: wrap;
                        margin-bottom: 20px;
                        .sub-title {
                            font-size: 20px;
                            margin-bottom: 25px;
                        }
                    }
                    .col-customer {
                        label {
                            display: block;
                        }
                        input.readonly{
                            background-color: #e9ecef;
                            opacity: 1;
                        }
                    }
                    .col-vehicle {
                        .col-secundary {
                            label {
                                display: block;
                            }
                        }
                        input.readonly{
                            background-color: #e9ecef;
                            opacity: 1;
                        }
                    }
                    .col-date {
                        label {
                            width: 28%;
                        }
                        input {
                            width: 30%;
                        }
                    }

                    .col-products {
                        .col-inventory {
                            .title-table {
                                font-size: 20px;
                                margin-bottom: 25px;
                            }
                            table {
                                input[type=number] {
                                    max-width: 70px;
                                }
                            }
                        }
                        .col-products-used {
                            .title-table {
                                font-size: 20px;
                                margin-bottom: 25px;
                            }
                            table {
                                input[type=number] {
                                    max-width: 70px;
                                }
                            }
                        }
                    }

                    .col-services {
                        label {
                            display: block;
                        }
                        .title-table {
                            font-size: 20px;
                            margin-bottom: 25px;
                        }
                        #btn-add-service {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            -ms-transform: translate(-50%, -50%);
                            transform: translate(-50%, -50%);
                            padding: 3px 15px;
                        }
                        #btn-edit-service {
                            display: none;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            -ms-transform: translate(-50%, -50%);
                            transform: translate(-50%, -50%);
                            padding: 3px 15px;
                        }
                    }

                }

                .modal-footer{
                    .btn-add-record{
                        border: 0;
                        border-radius: 12px;
                        background: #4CBC5B;
                        padding: 5px 20px;
                        color: white;
                    }
                    .btn-cancel{
                        background: #CD3030;
                        padding: 5px 20px;
                        color: white;
                        border-radius: 12px;
                        text-decoration: none;
                        cursor: pointer;
                    }
                    .btn-clear{
                        background: #808080;
                        padding: 5px 20px;
                        color: white;
                        border-radius: 12px;
                        border: 0;
                        margin-right: auto;
                    }
                }
            }
        }
    }

    #modal-edit-record{
        .modal-dialog{
            .modal-content{
                .modal-header{
                    h2{
                        font-size: 20px;
                    }
                }
                .modal-body{
                    margin: 20px 0;
                    padding: 0 5%;
                    .row{
                        margin: 0 0 20px 0;

                        label{
                            font-size: 15px;
                            width: 100%;
                        }
                        input{
                            width: 100%;
                            border: solid 1px gray;
                            padding-left: 10px;
                        }
                        input.readonly{
                            background-color: #e9ecef;
                            opacity: 1;
                        }
                        span{
                            display: none;
                            width: 60%;
                            color: red;
                            margin-left: auto;
                            padding: 0 5px;
                        }
                    }
                    .col-date {
                        input {
                            width: 50% !important;
                        }
                    }
                    .col-customer {
                        input.readonly{
                            background-color: #e9ecef;
                            opacity: 1;
                        }
                        .col-pri {
                            margin-bottom: 15px;
                        }
                    }
                    .col-vehicle {
                        .col-primary {
                            margin-bottom: 15px;
                        }
                        input.readonly{
                            background-color: #e9ecef;
                            opacity: 1;
                        }
                    }
                    .col-products {
                        margin-top: 20px;
                    }
                    .col-services-include {
                        margin-top: 40px;
                    }
                }
                .modal-footer{
                    .btn-add-record{
                        border: 0;
                        border-radius: 12px;
                        background: #4CBC5B;
                        padding: 5px 20px;
                        color: white;
                    }
                    .btn-cancel{
                        background: #CD3030;
                        padding: 5px 20px;
                        color: white;
                        border-radius: 12px;
                        text-decoration: none;
                        cursor: pointer;
                    }
                    .btn-clear{
                        background: #808080;
                        padding: 5px 20px;
                        color: white;
                        border-radius: 12px;
                        border: 0;
                        margin-right: auto;
                    }
                }
            }
        }
    }
}
