header{
    display: flex;
    #logo-header{
        margin: auto auto auto 10%;

        img{
            height: 75px;
            width: 170px;
            margin-top: 5%;
        }
    }
    #icon-sesion-header{
        margin: auto 10% auto auto;
        a{
            cursor: pointer;
            width: max-content;
            display: inline-block;
            img{
                height: 50px;
                width: 50px;
            }
        }

    }
}
